[package]
name = "sdf-viewer"
version = "0.0.18"
authors = ["Yeicor <yeicor1212@gmail.com>"]
description = "SDF Viewer"
repository = "https://github.com/Yeicor/sdf-viewer"
license = "MIT or Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib"] # Required for web (and Android...)

# ========== DEPENDENCIES ==========
[dependencies]
# === RENDERING ===
three-d = { version = "0.12", default-features = false, features = [] }
eframe = { version = "0.18", features = ["persistence"] }
egui_glow = "0.18"
image = "0.24"  # Required for image loading

# === LOGGING & PROFILING (see also native/web dependencies) ===
tracing = "0.1"
profiling = { version = "1.0", features = ["profile-with-tracing"] } # Provides simpler macro for functions

# === NETWORK ===
reqwest = "0.11"

# === CONFIGURATION & CLI ===
clap = { version = "3.2", features = ["derive"] }
shadow-rs = { version = "0.11", default-features = false } # Web does not support the git2 optional dependency, which is unnecessary

# === MISC ===
auto_impl = "1.0" # Automatic trait implementations for Box<_>, &_, etc.
instant = { version = "0.1", default-features = false, features = ["wasm-bindgen"] } # Cross platform current time
cgmath = "0.18" # Shared with three-d

# === NATIVE (desktop & mobile) ===
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tracing-subscriber = "0.3" # For logging

# === ANDROID ===
[target.'cfg(target_os = "android")'.dependencies] # Android dependencies
ndk-glue = "0.6" # Core bindings
# HACK: force-enable vendored OpenSSL sources for android builds
openssl = { version = "*", features = ["vendored"] }

# === WEB ===
[target.'cfg(target_arch = "wasm32")'.dependencies] # Web dependencies
wasm-bindgen = "0.2" # Core bindings
wasm-bindgen-futures = "0.4" # Core bindings
web-sys = "0.3" # Core bindings
tracing-wasm = "0.2" # For logging
console_error_panic_hook = "0.1" # For logging

# === TESTING ===
[dev-dependencies]
approx = "0.5"

# === BUILD ===
[build-dependencies]
shadow-rs = "0.11"

# ========== RELEASE CONFIGURATION ==========
[profile.release]
lto = true
codegen-units = 1
strip = true

[package.metadata.android]
label = "SDF Viewer"
opengles_version_major = 3
opengles_version_minor = 0
# TODO: build_targets = [ "armv7-linux-androideabi", "aarch64-linux-android", "i686-linux-android", "x86_64-linux-android" ]

[package.metadata.wasm-pack.profile.release]
wasm-opt = false # https://github.com/rustwasm/wasm-pack/issues/781 (enable this if it works for you, but it fails on CI)

# ========== PATCHES/HACKs ==========
[patch.crates-io]
# HACK: "small" patches to "build" and "run" for android (probably breaking stuff)
# FIXME: Android builds and runs, but does not show anything to screen (no crashes!)...
# TODO: Wait for official support (https://github.com/rust-windowing/glutin/pull/1385#issuecomment-1138894794)
glutin = { git = "https://github.com/Yeicor/glutin" }
arboard = { git = "https://github.com/Yeicor/arboard" } # Wait for merge!
# Update ndk-glue dependency of winit
winit = { git = "https://github.com/rust-windowing/winit" }
