# Continuous Integration only tests on linux desktop
name: Continuous Integration

on:
  push:
    branches: "master"
  pull_request: 
    branches: "master"

env:
  CARGO_TERM_COLOR: always

permissions: # codeql
  contents: read
  security-events: write

jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Download repository
        uses: actions/checkout@v3
      - name: Update cargo
        run: |
          rustup update
      - uses: Swatinem/rust-cache@v2.4.0
      - name: Install dependencies for three-d on Ubuntu
        run: sudo apt update && sudo apt upgrade -y && sudo apt install -y pkg-config libx11-dev libxi-dev libgl1-mesa-dev libasound2-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libatk1.0-dev libgtk-3-dev

      - name: Test
        run: |
          cargo test --features "app server sdfdemo meshers" --lib # Test different feature combinations?

      - run: rustup component add clippy # rustfmt
      - name: Install clippy extras
        run: cargo install clippy-sarif sarif-fmt
      - name: Run rust-clippy
        run:
          cargo clippy --features "app server sdfdemo meshers" --message-format=json | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true
