# Continuous Integration only tests on linux desktop
name: Continuous Integration

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

permissions: # codeql
  contents: read
  security-events: write

jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Download repository
        uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: Swatinem/rust-cache@v2.2.0
      - name: Install dependencies for three-d on Ubuntu
        run: sudo apt install pkg-config libx11-dev libxi-dev libgl1-mesa-dev libasound2-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libatk1.0-dev libgtk-3-dev

      - uses: actions-rs/cargo@v1
        name: Test
        with:
          command: test
          args: --features "app server sdfdemo meshers" --lib # Test different feature combinations?

      - run: rustup component add clippy # rustfmt
      - name: Install clippy extras
        run: cargo install clippy-sarif sarif-fmt
      - name: Run rust-clippy
        run:
          cargo clippy --features "app server sdfdemo meshers" --message-format=json | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true
